:root{
  --titre:'Dela Gothic One', cursive;
  --text:'Pathway Gothic One', sans-serif;
}


body{
  background-color: black;
  font-family: var(--text);
}

h1{
font-family: var(--titre);
color: rgb(216,213,39);
}

.card-subtitle, .card-title{
  color: black;
}
